<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyDeN8RBMnG_IKM3arsYvuIJQQjbpcV_AZQ</string>
	<key>GCM_SENDER_ID</key>
	<string>593522275467</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.andy.Markets</string>
	<key>PROJECT_ID</key>
	<string>python-db-practice-96823</string>
	<key>STORAGE_BUCKET</key>
	<string>python-db-practice-96823.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<true/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:593522275467:ios:f4b538b6493f8f9ed8908e</string>
	<key>DATABASE_URL</key>
	<string>https://python-db-practice-96823-default-rtdb.firebaseio.com</string>
</dict>
</plist>
